<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.oza.logistic.ssm.mapper.ExportDetailMapper">
  <resultMap id="BaseResultMap" type="cn.oza.logistic.ssm.pojo.ExportDetail">
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_number" jdbcType="INTEGER" property="goodsNumber" />
    <result column="goods_unit" jdbcType="VARCHAR" property="goodsUnit" />
    <result column="length" jdbcType="BIGINT" property="length" />
    <result column="width" jdbcType="BIGINT" property="width" />
    <result column="height" jdbcType="BIGINT" property="height" />
    <result column="volume" jdbcType="DOUBLE" property="volume" />
    <result column="weight" jdbcType="DOUBLE" property="weight" />
    <result column="goods_total" jdbcType="DECIMAL" property="goodsTotal" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    goods_name, goods_number, goods_unit, length, width, height, volume, weight, goods_total, 
    order_id
  </sql>
  <select id="selectByExample" parameterType="cn.oza.logistic.ssm.pojo.ExportDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from v_exportdetail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <insert id="insert" parameterType="cn.oza.logistic.ssm.pojo.ExportDetail">
    insert into v_exportdetail (goods_name, goods_number, goods_unit, 
      length, width, height, 
      volume, weight, goods_total, 
      order_id)
    values (#{goodsName,jdbcType=VARCHAR}, #{goodsNumber,jdbcType=INTEGER}, #{goodsUnit,jdbcType=VARCHAR}, 
      #{length,jdbcType=BIGINT}, #{width,jdbcType=BIGINT}, #{height,jdbcType=BIGINT}, 
      #{volume,jdbcType=DOUBLE}, #{weight,jdbcType=DOUBLE}, #{goodsTotal,jdbcType=DECIMAL}, 
      #{orderId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.oza.logistic.ssm.pojo.ExportDetail">
    insert into v_exportdetail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="goodsNumber != null">
        goods_number,
      </if>
      <if test="goodsUnit != null">
        goods_unit,
      </if>
      <if test="length != null">
        length,
      </if>
      <if test="width != null">
        width,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="volume != null">
        volume,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="goodsTotal != null">
        goods_total,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsNumber != null">
        #{goodsNumber,jdbcType=INTEGER},
      </if>
      <if test="goodsUnit != null">
        #{goodsUnit,jdbcType=VARCHAR},
      </if>
      <if test="length != null">
        #{length,jdbcType=BIGINT},
      </if>
      <if test="width != null">
        #{width,jdbcType=BIGINT},
      </if>
      <if test="height != null">
        #{height,jdbcType=BIGINT},
      </if>
      <if test="volume != null">
        #{volume,jdbcType=DOUBLE},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="goodsTotal != null">
        #{goodsTotal,jdbcType=DECIMAL},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>